<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pengjiqing.stockmanagerapp">

    <application
        android:name=".utils.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" /> <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="主界面" />
        <activity
            android:name=".StockSearchActivity"
            android:label="@string/title_activity_stock_search"></activity>
        <activity
            android:name=".MaterialActivity"
            android:label="@string/title_activity_material" />
        <activity
            android:name=".StockTackingActivity"
            android:label="@string/title_activity_stock_tacking" />
        <activity
            android:name=".StorageOutActivity"
            android:label="@string/title_activity_storage_out" />
        <activity
            android:name=".StorageActivity"
            android:label="@string/title_activity_storage" />
    </application>

</manifest>